.flexbox a {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 10px 10px;
}

.flexbox a:hover {
    cursor: pointer;
    background-color: cadetblue;
    color: white;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    max-width: 1200px;
}

.container {
    background-color: #444;
    color: whitesmoke;
    max-width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 10px 10px;
}

