@import "table.css";

:root {
    --main-color: grey;
}

.dimensions {
    height: 50px;
    max-width: 1200px;
}

.flexbox a {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 10px 10px;
}

.flexbox a:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container, .footer {
    background-color: #444;
    color: whitesmoke;
    max-width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 10px 10px;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    color: white;
}

.footer p {
    text-align: center;
    padding: 10px;
}

.all-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}