<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "en">
	<head>
		<meta charset = "UTF-8">
		<title>Layout</title>
		<link th:href = "@{/css/utils.css}" rel = "stylesheet">
	</head>
	<body>
		
		<nav th:fragment = "navbar">
			<div class = "container">
				<div class = "flexbox">
					<div class = "logo">
						<h3>Project Manager</h3>
					</div>
					<div class = "menu">
						<a href = "/">Home</a>
						<a href = "/employees">Employees</a>
						<a href = "/projects">Projects</a>
					</div>
				</div>
			</div>
		</nav>
		<footer th:fragment = "footer">
			<div class = "footer">
				<p>&copy;All Rights Reserved, Ajay Kumar</p>
			</div>
		</footer>
	</body>
</html>