<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "en">
	<head>
		<meta charset = "UTF-8">
		<title>Layout</title>
	</head>
	<body>
		<nav th:fragment = "navbar">
			<div class = "container">
				<div class = "flexbox dimensions">
					<div class = "logo">
						<h3>Project Manager</h3>
					</div>
					<div class = "menu">
						<a href = "/">Home</a>
						<a href = "/employees">Employees</a>
						<a href = "/projects">Projects</a>
					</div>
				</div>
			</div>
		</nav>
		<footer th:fragment = "footer">
			<div class = "footer dimensions">
				<p>&copy; Ajay Kumar All Rights Reserved</p>
			</div>
		</footer>
	</body>
</html>