<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "en">
	<head>
		<meta charset = "UTF-8">
		<title>All Employees</title>
	</head>
	<body>
		<nav th:replace = "layouts :: navbar"></nav>
		<div class = "employees">
			<h2>All Employees</h2>
			<table>
				<thead>
					<tr>
						<td>Employee Name</td>
						<td>First Name</td>
						<td>Last Name</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each = "employee : ${employees}">
						<td th:text = "${employee.firstName}"></td>
						<td th:text = "${employee.lastName}"></td>
						<td th:text = "${employee.email}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>