<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "en">
	<head>
		<meta charset = "UTF-8">
		<title>Create an Employee</title>
		<link th:href = "@{/css/utils.css}" rel = "stylesheet">
	</head>
	<body>
		<nav th:replace = "layouts :: navbar"></nav>
		<div class = "form-container">
			<form th:action = "create" method = "post" th:object = "${employee}">
				<div class = "form-item">
					<label>First Name
						<input type = "text" th:field = "${employee.firstName}">
					</label>
				</div>
				<div class = "form-item">
					<label>Last Name
						<input type = "text" th:field = "${employee.lastName}">
					</label>
				</div>
				<div class = "form-item">
					<label>Email
						<input type = "text" th:field = "${employee.email}">
					</label>
				</div>
				<input type = "submit" value = "Submit">
			</form>
		</div>
		<footer th:replace = "layouts :: footer"></footer>
	</body>
</html>