<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "en">
	<head>
		<meta charset = "UTF-8">
		<title>Create an Employee</title>
		<link th:href = "@{/css/utils.css}" rel = "stylesheet">
	</head>
	<body>
		<nav th:replace = "layouts :: navbar"></nav>
		<form th:action = "create" method = "post" th:object = "${employee}">
			<label>First Name
				<input type = "text" th:field = "${employee.firstName}">
			</label>
			<label>Last Name
				<input type = "text" th:field = "${employee.lastName}">
			</label>
			<label>Email
				<input type = "text" th:field = "${employee.email}">
			</label>
			<input type = "submit" value = "Submit">
		</form>
		<footer th:replace = "layouts :: footer"></footer>
	</body>
</html>