<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "en">
	<head>
		<meta charset = "UTF-8">
		<title>Create a Project</title>
	</head>
	<body>
		<nav th:replace = "layouts :: navbar"></nav>
		<form th:action = "create" method = "post" th:object = "${project}">
			<label>Project Name
				<input type = "text" th:field = "${project.name}">
			</label>
			<label>Project State
				<select th:field = "${project.state}">
					<option th:value = "NOTSTARTED">Not Started</option>
					<option th:value = "STARTED">Started</option>
					<option th:value = "COMPLETED">Completed</option>
				</select>
			</label>
			<label> Project Description
				<textarea th:field = "${project.description}"></textarea>
			</label>
			<input type = "submit" value = "Submit">
		</form>
	</body>
</html>